 
 @use "../utils/mixin" as *;
 @use "../utils/variables" as *;
 


/* encabezado-menu de navergacion- h1- h2-main */
.header-encabezado{
  background-color: $colorfondomyf;
  padding: 30px;
  border: 2px solid $colorborde;
}


li{
  display: inline;
  padding: 20px;
}

.titulo-header{
  font-size: 60px;
  gap: 200px;
}

.navbar{
  flex-grow: 0;
}
.nav-a:hover {
  color: blueviolet;
}

.nav-a{
 font-size: 20px;
}
 

 
/*  footer*/

footer {
  background-color: $colorfondomyf;
  border: 2px solid $colorborde;
  padding: 20px;
  display: flex;
  margin: 10px 0;
  width: 100%;
}

.footer-container {
 @include flexalingitems;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.titulo-footer {
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.redes-sociales-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: -10%;
  gap: 10px;
}

.botondefooter {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.container-usuario {
  display: flex;
  justify-content: flex-end;
}

