  
  /* encabezado-menu de navergacion- h1- main */
  .header-encabezado{
      background-color: rgb(228, 205, 244);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 150PX;
      padding: 30px;
      border: 2px solid rgb(122, 14, 223);
    
 }
 .nav-ul{
     list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
 }
 li{
      display: inline;
      padding: 50px;
}
 h1{
    margin: 30px;
    font-style: italic;
 }

 a:hover {
   color: blueviolet;

 }

 a {
   
    color: black;
    text-decoration: none;
 }
 
  main{
     background-color: beige;
     margin-top: 30px;
  }
 
   /* pagina de inicio */
 
  .video-bienvenida-inicio{
      display: flex;
      justify-content: center;
      background-color:beige ;
      margin-left: 400px;
   
    
    
  }
  .texto-bienvenida-inicio{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 305px;
    width:950px ;
    height: 200px;
    background-color: rgb(244, 240, 236);
    border: 2px solid rgb(122, 14, 223);
    line-height: 30px;
    
  }
 
 
  .suscribirse-inicio{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40%;
    width: 400px;
    height: 200px;
    font-style: initial;
  }
.usuario-inicio{
  margin-right: 90px;
}
  button{
   background-color: rgb(122, 14, 223);
 }
  
  .playlist-titulo-inicio{
     display: flex;
    justify-content: center;
    align-items: flex-end;
     margin-top: 80px;
  }
  .playlist-inicio{
   width: 100%;
   height: 350px;
   border: 2px solid rgb(122, 14, 223);
   background-color:rgb(228, 205, 244);
 }
 .spotify-inicio{
   display: flex;
   justify-content: center;
   margin-top: 30px;
   
 }
  .Conocemisvlogs-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

  }
  .video-midia-inicio{
    display: flex;
    justify-content: start;
    margin-top: 60px;
    margin-left: 70px;
    
  }
 .midia-inicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: -370px;
    margin-left: 54%;

    width:560px ;
    height: 300px;
    background-color: rgb(244, 240, 236);
    border: 2px solid rgb(122, 14, 223);
    line-height: 30px;
    
 }

 .video-viajes-inicio{
   display: flex;
   justify-content: start;
   margin-top: 350px;
   margin-left: 70px;
 }
 .misviajes-inicio{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   text-align: center;
   margin-top: -370px;
   margin-left: 54%;

   width:560px ;
   height: 300px;
   background-color: rgb(244, 240, 236);
   border: 2px solid rgb(122, 14, 223);
   line-height: 30px;
 }
.familia-contenedor-inicio{
  height: 500px;
}
 .video-familia-inicio{
     display: flex;
   justify-content: start;
   margin-top: 350px;
   margin-left: 70px;
 }
 .familiayamigos-inicio{
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: -370px;
  margin-left: 54%;
  width:560px ;
  height: 300px;
  background-color: rgb(244, 240, 236);
  border: 2px solid rgb(122, 14, 223);
  line-height: 30px;
    
 }
 
 /* Pagina CONOCEME */

 .conocemeimg{
    display: flex;
    justify-content: end;
   
   
   margin-right: 30px;
   
}
.subtitulo-conoceme{
    margin-left: 10%;
    margin-bottom: -40px;
}

 .sobremi-text-conoceme{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   margin-top: -38%;
   margin-left: 10%;
    width:550px ;
    height: 500px;
    background-color: rgb(244, 240, 236);
    border: 2px solid rgb(122, 14, 223);
    text-align: center;
    line-height: 30px;
    padding: 10px;
  
  }

 .mi-linea{
   
    border: none;
    background-color: rgb(48, 3, 41);
    width: 100%;
    height: 2px;
  }

 
  .micontenido-conoceme{
    margin-top: 20%;
  }

 .contenido-text-conoceme{
    width:90% ;
    margin: 30px;
    margin-top: 100px;
    height: 200px;
    background-color: rgb(244, 240, 236);
    border: 2px solid rgb(122, 14, 223);
    text-align: center;
    line-height: 30px;
    
    
    
}
 .curiosidades-text-conoceme{
   width:360px ;
    height: 200px;
    background-color: rgb(244, 240, 236);
    border: 2px solid rgb(122, 14, 223);
    text-align: center;
    line-height: 30px;
   margin: 30px;
  }
 
 /* pagina Vlog */

 .mivlog{
    display: flex;
    flex-direction: row;
    width:950px ;
    height: 600px;
    background-color: rgb(244, 240, 236);
    border: 2px solid rgb(122, 14, 223);
    text-align: center;
    line-height: 30px;
    position: relative;
    bottom: 100px;
    margin: 200px;
    left: 100px;
 }

 .vlog-videos{
    text-align: center;
    position: relative;
    bottom: 100px;
 }


 p{
    margin: 30px;
    text-align: center;
 }

 .midiadia-vlog{
    margin: 40px;
 }


 .midiadia-text-vlog{
    display: block;
    flex-grow: 20px;
    width:560px ;
    height: 300px;
    background-color: rgb(244, 240, 236);
    border: 2px solid rgb(122, 14, 223);
    text-align: center;
    line-height: 30px;
    position: relative;
    left: 750px;
    bottom: 380px;
  }

  .mis-viajes-vlog{
    position: relative;
    left: 48%;
  }

 .viajes-text-vlog{
    display: block;
    flex-grow: 20px;
    width:560px ;
    height: 300px;
    background-color: rgb(244, 240, 236);
    border: 2px solid rgb(122, 14, 223);
    text-align: center;
    line-height: 30px;
    position: relative;
    right: -180px;
    bottom: 350px;
  }

 .familiayamigos-text-vlog{
    display: block;
    flex-grow: 20px;
    width:560px ;
    height: 300px;
    background-color: rgb(244, 240, 236);
    border: 2px solid rgb(122, 14, 223);
    text-align: center;
    line-height: 30px;
    position: relative;
    left: 750px;
    bottom: 380px;
  }

  .mudanza-vlog{
    position: relative;
    left: 48%;
  }

 .mudanza-text-vlog{
    display: block;
    flex-grow: 20px;
    width:560px ;
    height: 300px;
    background-color: rgb(244, 240, 236);
    border: 2px solid rgb(122, 14, 223);
    text-align: center;
    line-height: 30px;
    position: relative;
    right: -180px;
    bottom: 350px;
  }




 /* pagina TIPS */
 .titulo-tips{
      margin: 30px;
    text-align: center; 
 }

 .ensalada-tips{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 80px;
    margin: 90px;
  }

 .texto-ensalda-tips{
    width:460px ;
    height: 280px;
      background-color: rgb(244, 240, 236);
      border: 2px solid rgb(122, 14, 223);
    text-align: center;
    line-height: 30px;
    position: relative;
    left: 650px;
    bottom: 380px;
 }

 .maquillaje-tips{
      margin: 40px;
    display: flex;
      flex-direction: row;
      position: relative;
      left: 80px;
     
 }
 .texto-maquillaje-tips{
    width:460px ;
      height: 280px;
      background-color: rgb(244, 240, 236);
      border: 2px solid rgb(122, 14, 223);
    text-align: center;
    line-height: 30px;
      position: relative;
      left: 650px;
      bottom: 400px;
 }

 .skincare-tips{
     margin: 40px;
    display: flex;
     flex-direction: row;
     position: relative;
     left: 80px;
 }

 .texto-skincare-tips{

   width:460px ;
   height: 280px;
   background-color: rgb(244, 240, 236);
   border: 2px solid rgb(122, 14, 223);
 text-align: center;
 line-height: 30px;
   position: relative;
   left: 650px;
   bottom: 400px;
 }











.redes-sociales-footer{
   display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: -40%;
    gap: 10px;
 }
 .botondefooter{
   display: flex;
   justify-content: flex-end;
   margin-bottom: 50px;
 
 }
 .usuario-footer{
  margin-right: 90px;
 }
 footer{

   border: 2px solid rgb(122, 14, 223);
    background-color: rgb(228, 205, 244);
    height: 250px;
 }
 .titulo-footer{
  display: flex;
  justify-content: center;
  margin-bottom: -20px;
  margin-left: -38%;
 }